:root {
  --kt-headline-font: "Arvo", serif;
  --kt-body-font:
    -apple-system, BlinkMacSystemFont, "Zalando Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --kt-border-medium: rgba(48, 55, 66, 0.15);
  --kt-border-low: rgba(48, 55, 66, 0.1);
}

body[color-scheme="dark"] {
  --kt-background-body: #111114;
  --kt-background-surface: #0a0a0c;
  --kt-background-surface-overlay: rgba(0, 0, 0, 0.1);
  --kt-background-surface-hover: #18181d;
  --kt-background-surface-high: #222228;
  --kt-background-primary: #0a0a0c;
  --kt-content-neutral: #9a9ab0;
  --kt-content-neutral-low: #5e5e74;
  --kt-content-neutral-high: #eaeaee;
  --kt-content-primary: #E56832;
  --kt-border-medium: #1d1d25;
  --kt-border-low: #2a2a33;
}

hr {
  border-top: 1px solid var(--kt-border-low);
  margin: 3.2rem 0;
}
