@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  font-family: var(--kt-body-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  color: var(--kt-content-neutral-high);
  background-color: var(--kt-background-body);
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}
