h1 {
  font-family: var(--kt-headline-font), serif;
  font-weight: normal;
  font-size: 86px;
  letter-spacing: -1.5px;
  user-select: none;
}

h2 {
  font-family: var(--kt-headline-font), serif;
  font-weight: normal;
  font-size: 53px;
  letter-spacing: -0.5px;
  user-select: none;
}

h3 {
  font-family: var(--kt-headline-font), serif;
  font-weight: normal;
  font-size: 43px;
  letter-spacing: 0;
  user-select: none;
}

h4 {
  font-family: var(--kt-headline-font), serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.25px;
  user-select: none;
}

h5 {
  font-family: var(--kt-headline-font), serif;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0;
  user-select: none;
}

h6 {
  font-family: var(--kt-headline-font), serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.15px;
  user-select: none;
}

.text--body1 {
  font-family: var(--kt-body-font), sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.text--body2 {
  font-family: var(--kt-body-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  color: var(--kt-content-neutral-low);
  margin: 0 0 2rem;
  user-select: none;
}

.text--caption {
  font-family: var(--kt-body-font), sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.4px;
}

.text--overline {
  font-family: var(--kt-body-font), sans-serif;
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 1.5px;
}

.text--subtitle1 {
  font-family: var(--kt-headline-font), serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.15px;
}

.text--subtitle2 {
  font-family: var(--kt-headline-font), serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1px;
}
