.input {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 0 8px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--kt-body-font), sans-serif;
    width: 100%;
    border-radius: 8px;
    letter-spacing: 0.25px;
    background-color: var(--kt-background-surface-high);

    &:hover {
        border-color: var(--kt-content-neutral-low);
    }

    &[readonly] {
        user-select: none;
        cursor: default;
        font-weight: 500;
    }

    &[disabled] {
        opacity: 0.38;
        user-select: none;
        cursor: not-allowed;
    }

    &::placeholder {
        opacity: 0.38;
        font-style: italic;
        font-weight: 400;
        font-family: var(--kt-body-font), sans-serif;
    }
}

.input--onSurface {
    background-color: var(--kt-background-surface-high);
}

.textarea {
    background-color: var(--kt-background-surface);
    padding: 0.8rem;
    width: 100%;
    height: 100%;
}

.fieldset {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 1.6rem;
    }

    &[disabled] {
        background-color: var(--kt-background-surface-high);
    }

    label > input {
        margin-top: 0.4rem;
    }
}
