:root {
  --kt-background-body: #fff;
  --kt-background-surface: #fafafa;
  --kt-background-surface-overlay: rgba(0, 0, 0, 0.1);
  --kt-background-surface-hover: #f5f5f5;
  --kt-background-surface-high: #f9f9f9;
  --kt-background-primary: #d85f34;
  --kt-content-primary: #ff7438;
  --kt-content-primary-overlay: rgba(255, 101, 35, 0.1);
  --kt-content-primary-hover: rgb(255, 101, 35);
  --kt-content-primary-oncolor: #fff;
  --kt-content-primary-oncolor-overlay: rgba(255, 255, 255, 0.1);
  --kt-content-success: rgb(24, 189, 148);
  --kt-content-negative: #dc3232;
  --kt-content-negative-overlay: rgba(252, 92, 101, 0.1);
  --kt-content-negative-hover: #ee0412;
  --kt-content-warn: #f38428;
  --kt-content-warn-overlay: #f384281a;
  --kt-content-warn-hover: #ee0412;
  --kt-content-neutral: #767f8d;
  --kt-content-neutral-low: #a6aeba;
  --kt-content-neutral-high: #303742;
}
