name: "[Server] Build"

on:
  push:
    branches: [main]
    paths:
      - "server/**"
  pull_request:
    branches: [main]
    paths:
      - "server/**"
  workflow_dispatch:

jobs:
  build:
    name: Build - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            artifact-name: kuken-server-linux-amd64
            archive-ext: tar.gz
          - os: windows-latest
            artifact-name: kuken-server-windows-amd64
            archive-ext: zip
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        working-directory: server
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '24'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # Workaround for Windows: https://github.com/graalvm/native-build-tools/issues/754
      # Error "'other' has different root" happens when project and temp folder are on different drives
      - name: Set Temp Directory (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path "${{ github.workspace }}\temp"
          echo "GRADLE_OPTS=-Djava.io.tmpdir=${{ github.workspace }}\temp" >> $env:GITHUB_ENV

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          validate-wrappers: true
          gradle-home-cache-cleanup: true

      - name: Build with Gradle
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew buildFatJar

      - name: Build Native Image (Linux)
        if: matrix.os == 'ubuntu-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew nativeCompile

      - name: Build Native Image (Windows)
        if: matrix.os == 'windows-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew nativeCompile

      - name: Copy config file (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: cp src/main/resources/kuken.conf build/native/nativeCompile/

      - name: Copy config file (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: Copy-Item src/main/resources/kuken.conf build/native/nativeCompile/

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jar-${{ matrix.os }}
          path: server/build/libs/*.jar

      - name: Upload native artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: server/build/native/nativeCompile/

