name: "Web UI"

on:
  push:
    branches: [ "main" ]
    paths:
      - "web/**"
      - ".github/workflows/web-**.yml"
  workflow_dispatch:

defaults:
  run:
    working-directory: web

jobs:
  build:
    name: Build on Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://nodejs.org/en/about/releases/
        node-version: [24]
    steps:
      - name: Checkout Application Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: pnpm install --frozen-lockfile && pnpm build